body {
    font-family: Arial, sans-serif;
    background-color: #abd7ffee;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #0270ff;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    color: #fff;
    text-decoration: underline #fff; 
}

/* Contenedor flexible */
.contenedor-flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Columnas */
.columna-izquierda, .columna-centro, .columna-derecha {
    width: 30%; /* Ancho de cada columna */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor de predicciones */
.contenedor-predicciones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre los participantes */
    justify-content: flex-start; /* Alinea los elementos al inicio */
    padding: 10px;
}

/* Estilos para cada predicción */
.prediccion {
    flex: 1 1 calc(25% - 10px); /* 4 participantes por línea con espacio entre ellos */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 5px 0; /* Espacio vertical entre predicciones */
}

/* Estilos para el contenedor con scroll */
.scroll-resultados-puntos {
    max-height: 300px; /* Altura máxima antes de que aparezca el scroll */
    overflow-y: auto; /* Activa el scroll vertical */
    padding-right: 5px; /* Espacio para el scroll */
}

/* Estilos para los participantes */
.participante {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ganador {
    background-color: #72dd8b;
    border-color: #155724;
    color: #155724;
}

:hover.ganador {
    background-color: #155724;
    border-color: #72dd8b;
    color: #fff;
}