body {
    font-family: Arial, sans-serif;
    background-color: #abd7ffee;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #000000;
}

/* Contenedor flexible */
.contenedor-flex {
    display: flex; 
    justify-content: space-between;
    gap: 10px
}

/* Columnas */
.columna-izquierda, .columna-centro, .columna-derecha {
    width: 30%; /* Ancho de cada columna */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor de predicciones */
.contenedor-predicciones {
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    padding: 10px;
    gap: 10px;
}

/* Estilos para cada predicción */
.prediccion {
    flex: 1 1 calc(25% - 10px); /* 4 participantes por línea con espacio entre ellos */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos para el contenedor con scroll */
.scroll-resultados-puntos {
    max-height: 300px; /* Altura máxima antes de que aparezca el scroll */
    overflow-y: auto; /* Activa el scroll vertical */
    padding-right: 5px/* Espacio para el scroll */
}

.contenedor-predicciones {
    display: flex;
    justify-content: space-between;
    gap: 10px
}



#resultados, #predicciones {
    margin-top: 20px;
}

.participante, .prediccion {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ganador {
    background-color: #72dd8b;
    border-color: #155724;
    color: #155724;
}

:hover.ganador {
    background-color: #155724;
    color: #fff;
}

